@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

:root {
    --red-color: #ed1c24;
    --black-color: #232a32;
    --gray-color: #6a747c;
    --blue-color: #093250;
}

body {
    font-family: '맑은고딕',
        Malgun Gothic,
        dotum,
        '돋음',
        arial,
        sans-serif;
    font-size: 12px;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    border-bottom: 2px solid var(--blue-color);
    color: #232a32;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    width: 770px;
    font-weight: bold;
    font-size: 26px;
}

.grade {
    font-size: 54px;
}

.product-main {
    height: 650px;
    display: flex;
    justify-content: space-between;
}

.profile {
    padding: 30px 23px 0;
}

.information {
    margin-top: 23px;
    width: 448px;
}

.manufacturer {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid var(--black-color);
}

.manufacturer:hover {
    color: var(--red-color);
    border-color: var(--red-color);
}

.information-item li {
    display: flex;
}

.information-item li label {
    width: 110px;
    color: #6a747c;
    font-size: 13px;
}

/* 판매가, 최대혜택가 */
.information-list li:nth-of-type(2) li label {
    font-size: 15px;
    line-height: 25px;
}

.information-list li:nth-of-type(2) li:first-child {
    margin-bottom: 10px;
}

.information-list li:nth-of-type(2) li:last-child label {
    color: var(--red-color);
}

.model-name {
    font-size: 14px;
    font-weight: bold;
    color: var(--black-color);
}

.text {
    font-size: 14px;
}

.tip {
    font-size: 12px;
    line-height: 16px;
    color: #9aa1af;
}

.tip:last-child {
    color: var(--gray-color);
}

.bold {
    font-weight: bold;
}

.line-break {
    margin-bottom: 15px;
}

/* 상품 정보 모델명 ~ 배송방법까지 내용의 가로 길이 고정 */
.information-list>li:not(:last-child) li :last-child {
    width: 338px;
}

/* 상품 정보 속성 간 간격 */
.information-list>li {
    padding: 13px 0;
}

.information-list>li:not(:last-child) {
    border-bottom: 1px solid #aeb3bb;
}




/* 주문 수량 컨트롤러 */
.amount-controller {
    color: #666;
    display: flex;
    align-items: center;
    width: 96px;
}

.amount-controller input {
    width: 38px;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: 0;
    border-top: 1px solid #aeb3bb;
    border-bottom: 1px solid #aeb3bb;
    outline: 0;
    margin: 0;
    width: 38px;
    height: 23px;
}

.amount-controller button {
    margin: 0;
    font-size: 20px;
    background: 0;
    outline: 0;
    border: 1px solid #aeb3bb;
    cursor: pointer;
    width: 29px;
    height: 27px;
}




.price-text {
    font-family: 'tahoma';
    font-size: 24px;
    font-weight: 700;
}

.information-item li:last-child .price-text {
    color: var(--red-color);
}




/* 구매 버튼 */

.buy {
    text-align: center;
    padding-top: 20px;
}

.buy-button {
    width: 251px;
    height: 60px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--red-color);
    outline: 0;
    border: 0;
    cursor: pointer;
}



/* 상품 설명 이미지 */

.images {
    width: 1006px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.md-announcement {
    margin-top: 30px;
    margin-bottom: 150px;
}

.md-image {
    display: flex;
    flex-direction: column;
    padding: 25px 28px 95px;
    border: 1px solid #d3d3d5;
}

.md-title {
    display: flex;
    background-color: var(--blue-color);
    padding: 15px 19px;
}

.md-title label {
    color: #fff;
    margin-right: 30px;
}

.md-title p {
    color: var(--gray-color)
}

.other-images {
    margin-top: 20px;
    margin-bottom: 50px;
}

.emplacement {
    border: 1px solid #d7d7d9;
    padding: 29px 49px 39px;
    margin-bottom: 150px;
}

.emplacement label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 18px;
}

.ship-information {
    width: 100%;
}

.ship-information>label {
    display: block;
    font-size: 23px;
    margin-bottom: 30px;
}

.ship-menu {
    padding: 0 30px;
}

.ship-menu-item {
    font-size: 17px;
    padding: 40px 0 15px;
    border-bottom: 1px solid #232a32;
    cursor: pointer;
    position: relative;
}

.ship-menu-item img {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 50%;
    right: 0;
}

.item-in-menu {
    border: 1px solid #d2d3d5;
    display: none;
}

.item-in-menu.show {
    display: block;
}

.item-in-menu>li {
    font-size: 13px;
    display: flex;
}

.item-in-menu>li:not(:first-child) {
    border-top: 1px solid #d2d3d5;
}

.item-in-menu li label, .item-in-menu li ul {
    padding: 15px 0;
}

.item-in-menu li label {
    font-weight: bold;
    color: #333333;
    width: 150px;
    text-align: center;
    background-color: #fbfbfb;
    border-right: 1px solid #d2d3d5;
}

.item-in-menu li ul {
    color: #666666;
    width: 798px;
    padding-left: 50px;
    list-style-type: disc;
    line-height: 17px;
}

.item-in-menu li ul>li:not(:first-child) {
    margin-top: 20px;
}