/*
    base css 입니다. content 클래스 안에 내용을 추가하시면 됩니다.
    meyer reset css, Noto Sans KR, Roboto 폰트를 import 했습니다.
*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 자주 쓰는 색 */
:root {
    --red: #f5232a;
    --footer-gray: #6A747C;
}

body {
    font-family: 'Roboto', 'Noto Sans KR', '맑은고딕', Malgun Gothic, dotum, '돋음', arial, sans-serif;
    /* 가로 스크롤 바 없애기 */
    overflow-x: hidden;
}


/* ************************************************************ */

/* Header */

.header {
    width: 100%;
    border-bottom: 1px solid var(--red);
    padding: 0 10vw;
}

.header-box {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5vh;
}

.search {
    width: 508px;
    margin-right: 3vw;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 70px;
    padding: 0 20px;
    background-color: #f9fcff;
    color: #505050;
    border: 1px solid #d8e4f1;
}

.search input {
    width: 95%;
    outline: 0;
    border: 0;
    background: 0;
    font-size: 16px;
}

.search.focused {
    border: 1px solid var(--red);
    background-color: #fff;
}

.zoom {
    width: 26px;
    height: 26px;
    background: url('base/img/zoom.png') no-repeat 0 0;
    position: absolute;
    top: 10px;
    right: 16px;
    line-height: 16px;
}

.reservation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 74px;
}

.header span {
    text-align: right;
    width: 100%;
    font-size: 17px;
}

.reservation a {
    color: var(--red);
    text-decoration: none;
    cursor: pointer;
}


/* ************************************************************ */

/* Footer */

.footer {
    height: 200px;
    background-color: #232a32;
    padding: 0 20vw;
    display: flex;
    align-items: center;
}

.footer .box {
    display: flex;
    align-items: center;
}

.box img {
    margin-right: 30px;
}

.description {
    width: 1080px;
    font-family: '맑은고딕',
        Malgun Gothic,
        dotum,
        '돋음',
        arial,
        sans-serif;
    font-size: 11px;
    color: var(--footer-gray);
}

.description strong {
    font-size: 14px;
}

.description a {
    color: var(--footer-gray);
}

.description ul {
    display: flex;
}

.description ul:first-child,
.description ul:nth-last-child(2) {
    margin-bottom: 10px;
}

.description li {
    margin: 3px;
}

.light-gray-text {
    color: #aeb3bb;
}

.red-text {
    color: var(--red);
}

/* ************************************************************ */

/* Content */

/* 상품 개수 알려주는 div  */
.first-info-box {
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
}

#first-info-normal {
    font-size: 30px;
}

#first-info-bold {
    font-size: 30px;
    font-weight: bold;
}

/* 상품 img class */
.pictures {
    /* text-align: center; */
    overflow: hidden;
    margin: 20px;
}

/* 사진 통째로 (div) class  */

.product {
    /* 상품들 가로 정렬  */
    display: inline-block;

}

/* div id */
#product-detail {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* 상품의 이름 id  */
#product-title {
    /* 상품 사진하고 같은 너비로 제품 이름 너비설정 */
    width: 200px;
}

/* 상품의 가격 id  */
#original-product-price {
    width: 200px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#product-price {
    width: 200px;
    font-weight: bold;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;

}

.list {
    position: relative;
    /* 위쪽 선 */
    border-top: 1px solid black;
    /* 5개씩 띄우려고 너비 값 줬습니다  */
    width: 1300px;
}

/* 페이지 넘버 */
/* a태그 아이디 */
#page-num {
    color: black;
    text-align: none;
    text-decoration: none;
    font-size: 20px;
    padding-right: 10px;

}

/* li 아이디 */
#page-num-list {
    display: inline-block;
}

/* ul 아이디  */
#page-num-group {
    text-align: center;
    margin-bottom: 20px;
}