<!-- 2020. 10.1 하유민 메인페이지 첫번째 -->
{% extends '../base.html' %} {% load static %}{% load humanize %}
<!-- prettier-ignore -->
{% block link %}{% static 'css/__home.css' %}{% endblock %}
<!-- prettier-ignore -->

{% block slide %}
<!-- 롤링배너 부분 -->
<div class="slide">
    <input type="radio" name="pos" id="pos1" checked>
    <input type="radio" name="pos" id="pos2">
    <input type="radio" name="pos" id="pos3">
    <input type="radio" name="pos" id="pos4">

    <!-- 슬라이드 이미지 -->
    <ul>
        <li><img src="{% static 'img/banner_front.png' %}" alt="logo" width="920px" height="470px"></li>
        <li><img src="{% static 'img/banner_back.png' %}" alt="logo" width="920px" height="470px"></li>
        <li><img src="{% static 'img/banner1.png' %}" alt="logo" width="920px" height="470px"></li>
        <li><img src="{% static 'img/banner2.jpg' %}" alt="logo" width="920px" height="470px"></li>
    </ul>

    <!-- 슬라이드 단추  -->
    <p class="bullet">
        <label for="pos1">1</label>
        <label for="pos2">2</label>
        <label for="pos3">3</label>
        <label for="pos4">4</label>
    </p>
</div>
{% endblock %}
<!-- Content -->

{% block content %}
<div class="products">
    <!-- 총 몇 개의 상품이 있는지 알려주는 div 박스  -->
    <div class="first-info-box">
        <!-- 하이마트몰에서는 총 몇 개의 상품이 있는지 알려주는 문구가 있길래 넣어봤습니다..  -->
        <!-- 상품 모델의 총 개수를 n 에 넣으면 될 것 같은데 구현 불가능 하면 빼면 될 것 같아요 . -->
        <span id="first-info-bold">총 {{products.all.count}}개</span>
        <span id="first-info-normal">의 상품이 있습니다. </span>
    </div>
    <!-- 메인 페이지 상품 사진, 설명 시작 -->
    <div class="product-list">
        <!-- location.href='눌렀을 때 옮겨갈 주소' (제품 상세페이지로 이동) -->
        {% for product in products %}

        <div class="product" onclick="location.href='#' ">
            <div class="pictures">
                <!-- 클릭했을 때 상품 상세설명으로 이동 -->
                <!-- 상품 사진 크기 200x200으로 고정.  -->
                <a href="{% url 'products:product_detail' product.pk %}">
                    <img src="{{ product.product_image.url }}" alt="logo" width="200px" height="200px">
                </a>
            </div>

            <div id="product-detail">
                <p id="product-title">
                    <a id="product-title-hover" href="{% url 'products:product_detail' product.pk %}">
                        <!-- 모델에서 상품명 부분. 하이마트몰 보니까 상품명이 다 두 줄 정도로 길어서 그 정도 길이로 설정해놨습니다. -->
                        {{product.product_name}}
                    </a>
                </p>
                <!-- 가격부분 -->
                <p id="original-product-price">
                    <!-- 모델에서 숫자만 가격으로 -->
                    <span class="product-original-price">{{product.price | intcomma}}</span>
                    <span class="product-original-price2">원</span>
                </p>
                <p>
                    <!-- 여기에 할인가 -->
                    <span class="product-price">{{product.set_saleprice | intcomma}}</span>
                    <span class="product-price2">원</span>
                    <span class="product-price2">최대혜택가</span>
                </p>
                <!-- 별 img, 평점 부분 -->
                <p id="grade-group">
                    <!-- <img src="../base/img/star.png" alt="star" width="20px" height="20px"> -->
                    <a id="test">
                                ★
                            </a>
                    <!-- 평점 부분 -->
                    <span id="grade">{{product.rating}}</span>
                </p>
                <p>
                    <button id="delivery">무료배송</button>
                    <button id="delivery">오늘배송</button>
                </p>
            </div>
        </div>
        {% empty %}
        <p class="empty_products"> 찾으시는 상품이 존재하지 않습니다.</p>
        {% endfor %}
    </div>
    <div>
        <ul id="page-num-group">
            {% for page_number in paginator.page_range %}
            <li class="page-num-list"><a class="page-num" href="?page={{page_number}}">{{page_number}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}