{% extends '../base.html' %}

{% block content %}
    <h1>상품 리스트 확인</h1><br>
    
    {% for product in products %}
        <span>
            <a href="{% url 'product_detail' product.pk %}">
                <img src="{{ product.product_image.url }}" alt="{{product.product_name}}" width="100px" height="100px">
            <br>
            {{product.product_name}} : {{product.price}} <br>
            {{product.sale}}%할인 -> {{product.set_saleprice}} <br>
        </span>
    {% endfor %}

{% endblock %} 
