{% extends '../base.html' %}

{% block content %}
<h1>상품 디테일 확인</h1><br>


<form action="{% url 'payment_do' products.pk %}" >     <!-- 서버값 전송 -->
    {% csrf_token %}
    <span>
        <img src="{{ products.product_image.url }}" alt="{{products.product_name}}" width="100px" height="100px">

        <br>
        {{products.product_name}} : {{products.price}} <br>
        {{products.sale}}%할인 -> {{products.set_saleprice}} <br>
        {{products.manufacture}} / 평점 {{products.rating}} <br>
        <img src="{{ products.image_description.url }}" alt="{{products.product_name}} 상세설명" width="100px"
            height="100px"><br>


        <button class="btn btn-primary" type="submit">결제</button>
    </span>
</form>



{% endblock %}