/* ************************************************************ */

/* Content */

.reservation-content {
    width: 100%;
    margin: 0 auto;
}


/*nav-link 네브 링크*/

.nav-link-container {
    width: 100%;
    margin: 20px 0 20px 0;
}

/* 예약정보 div */

.reservation-check {
    display: flex;
    font-weight: bold;
    border-bottom: 2px solid black;
}


/* 예약정보 글씨에 패딩 */

.reservation-info {
    padding: 20px 0 8px 0;
    font-size: 15pt;
}


/* 상품정보, 주문일자 .. 스타일들 */

.reservation-product-info {
    font-weight: bold;
    /* 세로 정렬 */
    align-self: center;
    /* 가로정렬 */
    justify-self: center;
}


/* 실제 날짜, 상품 정보들 정렬 */

.reservation-product-detail {
    align-self: center;
    justify-self: center;
}


/* 상품정보, 주문일자 ..grid */

.reservation-bar {
    display: grid;
    grid-template-columns: 500px 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    border-bottom: 1.5px solid #C6C6C6;
}


/* 실제 날짜, 상품 정보들 grid */

.reservation-bar-detail {
    border-bottom: 1px solid #D8D8D8;
    display: grid;
    grid-template-columns: 180px 320px 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px;
}


/* 상품 div hover 효과 */

.reservation-bar-detail:hover {
    background-color: #F6F6F6;
}


/* 상품 사진 정렬 */

.reservation-product-pic {
    align-self: center;
    justify-self: start;
}


/* 상품 이름 정렬 */

.reservation-product-name {
    font-weight: bold;
    align-self: center;
    justify-self: start;
    /* 말줄임 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* 상품 이름 a 태그 속성 설정 */

.reservation-product-name-a-tag {
    text-decoration: none;
    color: black;
}


/* 상품 이름 hover  */

.reservation-product-name:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* 예약확인 버튼 */

.reservation-check-button {
    background-color: white;
    border-style: none;
    width: 81px;
    border-radius: 3px;
}


/* 예약확인 버튼 hover 효과 */

.reservation-check-button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 7px #ddd;
    border: 0;
    outline: 0;
}


/* 상품 사진 크기, 마진 */

.reservation-product-image {
    width: 80px;
    height: 96px;
    margin-left: 30px;
}

.reservation-bar-detail:nth-last-child(1) {
    margin-bottom: 50px;
}