/* Content */

.content {
    padding: 0 calc(10vw + 75px);
}


/* 상품 개수 알려주는 div  */

.first-info-box {
    margin: 70px auto 20px;
    width: 100%;
}

#first-info-normal {
    font-size: 24px;
}

#first-info-bold {
    font-size: 24px;
    font-weight: bold;
}


/* 상품 img class */

.pictures {
    /* text-align: center; */
    overflow: hidden;
    margin: 20px;
}


/* 제품에 마우스 올렸을 때 커서  */

.product:hover {
    cursor: pointer;
}


/* div id */

#product-detail {
    margin-left: 20px;
    margin-bottom: 10px;
}


/* 상품의 이름 id  */

#product-title {
    /* 상품 사진하고 같은 너비로 제품 이름 너비설정 */
    width: 200px;
}


/* 상품명 스타일 */

#product-title-hover {
    text-decoration: none;
    color: black;
    font-size: 13px;
    /* 말줄임 효과*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* 상품명에 커서 올릴 때 */

#product-title-hover:hover {
    color: black;
    text-decoration: underline;
}


/* 상품의 가격 id  */


/* 원가 id */

.product-original-price {
    /* 패딩 주기 위해 블록으로 설정 */
    display: inline-block;
    /* width: 62px; */
    font-weight: bold;
    color: black;
    font-size: 18px;
    /* 위아래 간격 */
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-original-price2 {
    display: inline-block;
    color: black;
    font-size: 12px;
    font-weight: normal;
}


/* 할인가 id */

.product-price {
    display: inline-block;
    /* width: 62px; */
    font-weight: bold;
    color: #f5232a;
    font-size: 18px;
}


/* 최대 할인가 문구 스타일 */

.product-price2 {
    color: #f5232a;
    font-size: 12px;
    font-weight: normal;
}

.product-list {
    position: relative;
    /* 위쪽 선 */
    border-top: 1px solid black;
    /* 5개씩 띄우려고 너비 값 줬습니다  */
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


/* 평점 */

#grade {
    font-size: 13px;
    font-weight: bold;
}


/* 페이지 넘버 */


/* a태그 아이디 */

.page-num {
    color: black;
    text-align: none;
    text-decoration: none;
    font-size: 12px;
    padding-right: 10px;
}


/* li 아이디 */

.page-num-list {
    display: inline-block;
}

#page-num:hover {
    color: #f5232a;
    text-decoration: underline;
}


/* ul 아이디  */

#page-num-group {
    text-align: center;
    margin-top: 50px;
}


/* 무료배송, 오늘배송 버튼 스타일 */

#delivery {
    margin-top: 10px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid gainsboro;
    color: grey;
    font-size: 12px;
    font-family: 'Roboto', 'Noto Sans KR', '맑은고딕', Malgun Gothic, dotum, '돋음', arial, sans-serif;
}


/* 무료배송, 오늘배송 버튼 호버 스타일 */

#delivery:hover {
    cursor: pointer;
}

#grade-group {
    margin-top: 7px;
}

#test {
    color: #f5232a;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgb(207, 207, 207);
}


/* 롤링배너 */

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

.slide {
    width: 100vw;
    height: 500px;
    /* overflow: hidden; */
    position: relative;
    text-align: center;
}

.slide ul {
    width: calc(100% * 4);
    display: flex;
    transition: 1s;
}

.slide li {
    width: calc(100% / 4);
    height: 500px;
}


/* 각 슬라이드 배경 색깔 */

.slide li:nth-child(3) {
    background: #fff8b0;
}

.slide li:nth-child(4) {
    background: #2138c2;
}

.slide li:nth-child(1) {
    background: #b9bfd9;
}

.slide li:nth-child(2) {
    background: #b9bfd9;
}

.slide input {
    display: none;
}


/* 슬라이드 넘기는 단추 */

.slide .bullet {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide .bullet label {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    background: #fff;
    font-size: 0;
    transition: 0.5s;
    cursor: pointer;
}


/* 슬라이드 조작 */

#pos1:checked~ul {
    margin-left: 0;
}

#pos2:checked~ul {
    margin-left: -100%;
}

#pos3:checked~ul {
    margin-left: -200%;
}

#pos4:checked~ul {
    margin-left: -300%;
}


/* 단추 조작 */

#pos1:checked~.bullet label:nth-child(1),
#pos2:checked~.bullet label:nth-child(2),
#pos3:checked~.bullet label:nth-child(3),
#pos4:checked~.bullet label:nth-child(4) {
    background: #f5232a;
}

.empty_products {
    grid-column: 3;
    margin-top: 10vh;
    color: #f5232a;
    font-size: 15px;
    font-weight: normal;
}