<!-- 2020. 10.2 장하얀 주문(결제) 완료 페이지 -->
{% extends '../base.html' %}
<!-- prettier-ignore -->
{% load static %}
<!-- prettier-ignore -->
{% load humanize %}
<!-- prettier-ignore -->
{% block link %}{% static 'css/__order_success.css' %}{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- Content -->
<img src="{% static 'img/orderfinish.gif' %}" alt="orderfinish img">
<div class="text-box">
    <span>결제가 정상적으로 완료되었습니다.</span>
    <span>배송 완료 후, <span id="point">{{ getPoint | intcomma }}P</span>의 L.POINT가 적립될 예정입니다.</span>
    <span>자세한 주문내역 정보는 예약 확인 페이지에서 확인하실 수 있습니다.</span>
    <span>주문 시 입력하신 핸드폰 번호와 이메일 주소로 주문 정보가 전달됩니다.</span>
</div>
<div class="order-box">
    <span>주문 번호</span>
    <span id="order-id">{{payment.order_number}}</span>
</div>
{% endblock %}