{% extends '../base.html' %}
<!-- prettier-ignore -->
{% block content %}
<h1>엔지니어 리스트 확인</h1><br>
<!-- prettier-ignore -->
{% for engineer in engineers %}
<span>
    <a href="{% url 'engineers:detail' engineer.pk %}">
        {{engineer.name}} / {{engineer.number}}
</span>
    <img src="{{ engineer.image.url }}" alt="{{engineer.name}}" width="100px" height="100px">

    </a>
    {% for a in engineer.schedule.all %}
        <br> 예약된 날짜 : {{a.scheduled_date | date:"m월-d일"}} , 시간 :  {{a.scheduled_time | date:"A f 시"}}
    {% endfor %}
<!-- prettier-ignore -->
{% endfor %}
<!-- prettier-ignore -->
{% endblock %}