{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% block link %}{% endblock %}">
    <style>
        /* 돋보기 url 가져오기 */
        
        .zoom {
            background: url("{% static 'img/zoom.png' %}") no-repeat 0 0;
        }
    </style>
</head>

<body>
    <div class="container">

        <!-- Header -->
        <div class="header">
            <div class="user-container">

                <div class="user-box">
                    <ul class="sign-log-group">
                        {% if not user.is_authenticated %}
                        <li class="sign-log">
                            <a class="signin" href="{% url 'users:signup' %}">회원가입</a>
                        </li>
                        <li class="sign-log">
                            <a class="signin" href="{% url 'users:login' %}">로그인</a>
                        </li>
                        {% else %}
                        <li class="sign-log">
                            <a class="signin" href="{% url 'users:logout' %}">로그아웃</a>
                        </li>
                        <li class="sign-log">
                            <a class="reservation" href="{% url 'payments:order_list' %}">예약확인</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>

            <!-- Header 양 쪽 margin 주기 위해 box 따로 만듦 -->
            <div class="header-box">
                <a href="{% url 'products:home' %}">
                    <img class="header-img" src="{% static 'img/logo.gif' %}" alt="logo">
                </a>
                <form action="{% url 'products:search' %}" >
                <div class="search">
                    <input type="text" name = "search" value = "{{products.product_name}}">
                    <a href="{% url 'products:search' %}" class="zoom"></a>
                </div>
                </form>
                <img src="{% static 'img/imageBanner.png'%}" alt="delivery image">
                <div class="profile_wrap">
                    {% if user.is_authenticated %}
                    <div class='profile_img'>
                        <img src="{% static 'img/profile.png' %}" width="50px;" alt="">
                    </div>
                    <div class='profile_box'>
                        <div class='profile_name'>
                            <span class='name'>{{user.name}}</span>
                        </div>
                        <div class='profile_id'>
                            <span class='id'>{{user.username}}</span>
                        </div>
                        <div class='profile_email'>
                            <span class='email'>{{user.email}}</span>
                        </div>
                    </div>
                    {% else %}
                    <div class='profile_img'>
                        <img src="{% static 'img/profile.png' %}" width="50px;" alt="">
                    </div>
                    <div class='profile_not_login'>
                        <span class='not_login'>로그인을 해야합니다.</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% block slide %}
        <!-- prettier-ignore -->
        {% endblock %}
        <!-- Content -->
        <div class="content">

            <div class="content-container">

                <!-- prettier-ignore -->
                {% block content %}
                <!-- prettier-ignore -->
                {% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <div class="footer">
            <!-- Footer 양쪽 margin 주기 위해 가운데 box 생성 -->
            <div class="footer-box">
                <ul class="footer-up">
                    <li>
                        <a href="#">
                            <span class="gray">이용약관</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="white">개인정보처리방침</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="gray">쇼핑몰 입점/제휴 문의</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="white">고객신뢰센터</span>
                        </a>
                    </li>
                    <li>
                        <svg style="fill:#465461;" xmlns=" http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                    </li>
                    <li>
                        <a href="https://github.com/minsgy">
                            <span class="github">최민석</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/g0709-19">
                            <span class="github">이승준</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/white-jang">
                            <span class="github">장하얀</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/thalals/">
                            <span class="github">박형민</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/qhahd78">
                            <span class="github">하유민</span>
                        </a>
                    </li>
                </ul>

                <div class="footer-down">
                    <img src="{% static 'img/footLogo.png' %}" alt="footLogo">
                    <div class="description">
                        <ul>
                            <li><strong>롯데하이마트 주식회사</strong></li>
                        </ul>
                        <ul>
                            <li>대표이사 황영근, 서울 강남구 삼성로 156</li>
                            <li>사업자등록번호 : 104-81-16860</li>
                        </ul>
                        <ul>
                            <li>통신판매업 신고: 제2008-서울강남-2198호 [<a href="#">사업자정보확인</a>]</li>
                            <li>의료기기판매업 신고 : 제431호 건강기능식품판매업 신고 : 제2019-0105489호</li>
                        </ul>
                        <ul>
                            <li><span class="light-gray-text">고객지원센터 : 080-770-0070</span></li>
                            <li><span class="light-gray-text">쇼핑몰고객센터 : 080-780-0070</span></li>
                            <li><span class="light-gray-text">홈케어/이전설치 : 1588-9030 : 080-780-0070</span></li>
                            <li>FAX : 050-2333-1358</li>
                            <li><a href="#">himart.webmaster@lotte.net</a></li>
                        </ul>
                        <ul>
                            <li>호스팅 서비스사업자 : 롯데하이마트 주식회사</li>
                        </ul>
                        <ul>
                            <li>COPYRIGHTⓒ 2003-2020 <span class="red-text">LOTTEHIMART</span> CO., LTD. ALL RIGHT RESERVED.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <script type="text/javascript">
        {% block additionalJS %} {% endblock %}
    </script>
    <script type="text/javascript" src="{% block js %}{% endblock %}">
        <!-- 필요 없는 부분입니다. -->
        {% comment %}
        var a = "{{someDjangoVariable}}" {% endcomment %}
    </script>
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>