{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% block link %}{% endblock %}">
    <style>
        /* 돋보기 url 가져오기 */
        
        .zoom {
            background: url("{% static 'img/zoom.png' %}") no-repeat 0 0;
        }
    </style>
</head>

<body>
    <div class="container">

        <!-- Header -->
        <div class="header">
            <div class="user-box">
                <ul class="sign-log-group">
                    {% if not user.is_authenticated %}
                    <li class="sign-log">
                        <a class="signin" href="{% url 'users:signup' %}">회원가입</a>
                    </li>
                    <li class="sign-log">
                        <a class="signin" href="{% url 'users:login' %}">로그인</a>
                    </li>
                    {% else %}
                    <li class="sign-log">
                        <a class="signin" href="{% url 'users:logout' %}">로그아웃</a>
                    </li>
                    <li class="sign-log">
                        <a class="reservation" href="{% url 'payments:order_list' %}">예약확인</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <!-- Header 양 쪽 margin 주기 위해 box 따로 만듦 -->
            <div class="header-box">
                <a href="{% url 'products:home' %}">
                    <img class="header-img" src="{% static 'img/logo.gif' %}" alt="logo">
                </a>
                <div class="search">
                    <input type="text">
                    <a href="#" class="zoom"></a>
                </div>
                <img src="{% static 'img/imageBanner.png'%}" alt="delivery image">
                <div class="profile_wrap">
                    {% if user.is_authenticated %}
                    <div class='profile_img'>
                        <img src="{% static 'img/profile.png' %}" width="50px;" alt="">
                    </div>
                    <div class='profile_box'>
                        <div class='profile_name'>
                            <span class='name'>{{user.name}}</span>
                        </div>
                        <div class='profile_id'>
                            <span class='id'>{{user.username}}</span>
                        </div>
                        <div class='profile_email'>
                            <span class='email'>{{user.email}}</span>
                        </div>
                    </div>
                    {% else %}
                    <div class='profile_img'>
                        <img src="{% static 'img/profile.png' %}" width="50px;" alt="">
                    </div>
                    <div class='profile_email'>
                        <span class='email' >로그인을 해야합니다.</span>
                    </div>
                    {% endif %}   
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="content">
            {% block content %}
            <!-- prettier-ignore -->
            {% endblock %}
        </div>

        <!-- Footer -->
        <div class="footer">
            <!-- Footer 양쪽 margin 주기 위해 가운데 box 생성 -->
            <div class="box">
                <img src="{% static 'img/footLogo.png' %}" alt="footLogo">
                <div class="description">
                    <ul>
                        <li><strong>롯데하이마트 주식회사</strong></li>
                    </ul>
                    <ul>
                        <li>대표이사 황영근, 서울 강남구 삼성로 156</li>
                        <li>사업자등록번호 : 104-81-16860</li>
                    </ul>
                    <ul>
                        <li>통신판매업 신고: 제2008-서울강남-2198호 [<a href="#">사업자정보확인</a>]</li>
                        <li>의료기기판매업 신고 : 제431호 건강기능식품판매업 신고 : 제2019-0105489호</li>
                    </ul>
                    <ul>
                        <li><span class="light-gray-text">고객지원센터 : 080-770-0070</span></li>
                        <li><span class="light-gray-text">쇼핑몰고객센터 : 080-780-0070</span></li>
                        <li><span class="light-gray-text">홈케어/이전설치 : 1588-9030 : 080-780-0070</span></li>
                        <li>FAX : 050-2333-1358</li>
                        <li><a href="#">himart.webmaster@lotte.net</a></li>
                    </ul>
                    <ul>
                        <li>호스팅 서비스사업자 : 롯데하이마트 주식회사</li>
                    </ul>
                    <ul>
                        <li>COPYRIGHTⓒ 2003-2020 <span class="red-text">LOTTEHIMART</span> CO., LTD. ALL RIGHT RESERVED.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <script>
        { % block additionalJS %
        } { % endblock %
        }
    </script>
    <script type="text/javascript" src="{% block js %}{% endblock %}">
        var a = "{{someDjangoVariable}}"
    </script>
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>