/* 기본 세팅 */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 자주 쓰는 색 */

:root {
    --red: #f5232a;
    --footer-gray: #6A747C;
    --header-gray: #e2e2e2;
}

body {
    font-family: 'Roboto', 'Noto Sans KR', '맑은고딕', Malgun Gothic, dotum, '돋음', arial, sans-serif;
    /* 가로 스크롤 바 없애기 */
    overflow-x: hidden;
}


/* 여기부터 시작 */


/* 전체 div */

body {
    height: 100%;
}

.review-nav-bar {
    height: 50px;
    background: #f5232a;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* padding: 50px; */
}

.review-nav-center {
    /* padding: 0 auto; */
    height: 50px;
    text-align: center;
}

.review-nav-bar .review-nav-center .review-bar {
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}

.review-content-box:nth-child(2) {
    margin-left: 20px;
    margin-top: 70px;
}

.review-content-box {
    margin-left: 20px;
    margin-top: 20px;
}

.page-close-button {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 16.6px 30px;
    font-size: 17px;
    color: #fff;
}


/* 가로 정렬하기 위해 내부 div 블록 설정 */

.review-engineer-box {
    display: inline-block;
    position: fixed;
    top: 70px;
}

.review-user-box {
    display: inline-block;
    text-align: left;
    margin-left: 120px;
}


/* 기사님 스타일 */


/* 이미지 클래스 */

.engineer-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.engineer-name {
    font-weight: bold;
    font-size: 22px;
    padding: 25px;
}

.engineer-job {
    color: #aaaaaa;
    font-size: 13px;
    padding: 31px;
}


/* 리뷰 쓰는 사람 스타일 */

.review-user-name {
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
    padding-right: 0px;
}

.review-date {
    color: #cacaca;
    font-size: 15px;
    float: right;
    padding-right: 10px;
}

.review-review-box {
    width: 700px;
    margin: 20px 0 5px 20px;
    /* padding-bottom: 50px; */
    /* 말줄임 (5줄로 설정)*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* border-bottom: 1px solid grey; */
}

.p-border {
    padding-bottom: 20px;
    border-bottom: 1px solid #D8D8D8;
}


/* 삭제버튼 */

.review-delete-button {
    position: absolute;
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 1);
    color: #cacaca;
}

.review-delete-button:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* input 박스 */

.review-user-id {
    padding-top: 30px;
}

.review-input {
    float: left;
    padding: 10px;
    width: 595px;
    height: 100px;
    /* 아 ~ 마진 left ㅈㄴ 킹받네~~~ 댓글있으면 멀쩡하고 없으면 오류뜨고 아아악!!!! */
    margin-left: 150px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Noto Sans KR';
    font-size: 11pt;
    resize: none;
    border: 1px solid #cbcbcb;
}


/* 리뷰 textarea 스크롤바 커스텀 */

.review-input::-webkit-scrollbar {
    width: 10px;
}

.review-input::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.review-input::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.review-input::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}


/* input 안에 넣어야할 버튼,, */

.write-button {
    float: left;
    margin: 30px 0 0 5px;
    width: 88px;
    height: 122px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
    font-family: 'Noto Sans KR';
    font-size: 12pt;
}

.write-button:hover {
    cursor: pointer;
}

.btn-style {
    color: #999;
    border: 1px solid #cbcbcb;
    padding: 10px;
    background-color: #fff;
}

.btn-style:hover {
    color: #fff;
    background-color: #f5232a;
}