/* Content */

span {
    padding: 0;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 80px 0;
}

/*nav-link 네브 링크*/

.nav-link-container {
    width: 100%;
    margin-left: 4vw;
}

.nav-link {
    /* link 위치  */
    margin-left: 12vw;
    margin-bottom: 10vh;
}

.nav-link>a,
.nav-link>a:visited {
    color: black;
    text-decoration: none;
    font-size: 13pt;
}

.nav-link>a:hover {
    color: var(--red);
    text-decoration: underline;
}

.nav-link>span {
    color: gray;
}

/* margin 주는 class들 */

.mg-top {
    margin-top: 80px;
}

.mg-bottom {
    margin-bottom: 5px;
}

.mg-bottom-lg {
    margin-bottom: 100px;
}

.category {
    width: 70%;
}

.category>.bold-text {
    font-size: 15pt;
}

hr {
    width: 72vw;
    margin: 8px 0 20px 0;
    border: solid 1px var(--header-gray);
}

/* OrderBox 고객, 배송 정보 */

.order-box {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: repeat(auto-fill, minmax(20%, auto));
    align-items: center;
    gap: 30px 20px;
    width: 70vw;
    padding: 10px 0 10px 0;
    margin-bottom: 15px;
    /* background-color: #F6F6F6; */
}

.bold-text {
    font-weight: bold;
    margin-right: 10px;
}

.engineer-img {
    width: 150px;
    height: 200px;
    grid-row: 1 / 4;
}

.engineer-box {
    grid-template-columns: 1fr 1fr 2fr 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0 40px;
}

/* 리뷰 버튼 css */

.span {
    display: block;
    padding: 13px 10px;
    background: #fff;
    z-index: 100;
    position: relative;
    transition: all .35s ease-in-out .35s;
}

.button {
    background: #fff;
    border: solid lightgray 1px;
    padding: 1px;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    transition: all .35s ease-in-out .35s;
    width: 140px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 11pt;
}

.button:hover span {
    background: var(--red);
    color: #fff;
    transition: all .35s ease-in-out .35s;
}

.button:after {
    bottom: -100%;
    right: -100%;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--red);
    transition: all .35s ease-in-out .5s;
}

.button:hover:after {
    right: 0;
    bottom: 0;
    transition: all ease-in-out .35s;
}

.button:before {
    top: -100%;
    left: -100%;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--red);
    transition: all .35s ease-in-out .5s;
}

.button:hover:before {
    left: 0;
    top: 0;
    transition: all ease-in-out .35s;
}