/* Content */

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
}

.mg-left {
    margin-left: 70px;
}

.mg-left-sm {
    margin-left: px;
}

.mg-top {
    margin-top: 80px;
}

.category {
    width: 70%;
    justify-items: left;
}

.category>.bold-text {
    font-size: 15pt;
}

hr {
    width: 72vw;
    margin: 8px 0 30px 0;
}

/* OrderBox 고객, 배송 정보 */

.order-box {
    width: 70vw;
    padding: 15px 16px 15px 20px;
    background-color: #F6F6F6;
}

.bold-text {
    font-weight: bold;
    margin-right: 10px;
}

.space {
    display: block;
    margin-bottom: 30px;
}